# Setup toolchain and cpu flag for openmpi
build:mpi_config --crosstool_top=//examples/tools:mpi_toolchain
build:mpi_config --cpu=openmpi
build:mpi_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# Flags for Bolt
build:bolt_config --cxxopt="-std=c++14" --cxxopt="-fopenmp" --cxxopt="-Ofast" --linkopt="-fopenmp"