# TODO: Add more

# Explanations (if you can figure out how to get these in line be my guest):
# abseil-*: 
#    We want all abseil checks, if we get any of these
#    we should start using abseil (see the CMakeLists.txt
#    for a commented out way to do this)
# bugprone-*, -bugprone-narrowing-conversions:
#    We want all the bugprone checks, but we turn off the one for narrowing
#    conversions because it is annoying.
# cert-*-cpp, -cert-err58-cpp, -cert-msc50-cpp:
#    It is good practice to follow the c cert recommendations, but err58 is 
#    flagged by google test macros, and we don't care about the limited 
#    randomness of rand() called out by cert-msc50-cpp or warning about 
#    random seeding from cert-msc51-cpp
# cert-*-c, -cert-err34-c, -cert-msc30-c, -cert-msc32-c:
#    We don't care about limited randomness or seeds (cert-msc30-c, -cert-msc32-c),
#    TODO: Add back cert-err34-c, it is good, just requires non trivial code changes
# clang-analyzer-*, -clang-analyzer-core.*, -clang-analyzer-security.insecureAPI.rand,
#    Includes clang-analyzer checks which runs an automatic analysis tool to find bugs.
#    Some of the -core checks are slightly unintelligent (and finds bugs in our code that are not supposed to be).
#    clang-analyzer-optin.cplusplus.VirtualCall is good but noisy in dependent code, and nolint doesn't work.
# cppcoreguidelines-*:
#    Checks all cpp core guidelines. Can look into some of these later.
#    Currently ignoring:
#       - Magic numbers
#       - Using pointers to access arrays, and pointer arithmetic.
#       - C-style arrays
#       - Mandate initialization of variables
#       - Memory ownership specification
#       - Finding classes where some but not all special member functions are defined (default/copy/move constructor and destructor)
#       - Non-private class variables
#       - Global non-const variables
#       - Type narrowing
# google-*, -google-runtime-references:
#    Checks all Google coding conventions. Ignore some non-const parameters for errors in
#    HashTable.h.
# llvm-*, -llvm-header-guard, -llvm-include-order:
#    Checks all LLVM coding conventions. Ignoring header guard check since we have #pragma once.
#    Also ignoring include order since we are using Google formatting.
# misc-*, -misc-non-private-member-variables-in-classes:
#    Misc checks. Currently ignoring private checks on non-static class fields, since we
#    aren't too worried about the visibility for now.
# modernize-*, -modernize-use-*, -modernize-avoid-c-arrays:
#    Some of the modernize checks are unnecessary, specifically -modernize-use checks.
# openmp-*, mpi-*:
#    Include all openmp and mpi checks.
# performance-*, -performance-noexcept-move-constructor:
#    Include all performance checks.
# readability-*, -readability-magic-numbers, -readability-redundant-member-init, -readability-implicit-bool-conversion, -readability-isolate-declaration, -readability-function-cognitive-complexity:
#    Overall, the most of the readability checks are necessary and 
#    good practice to include. Magic numbers, implicit bool conversion, and 
#    others may be a bit tedious to fix for our use cases.
#    TODO: Magic numbers can be added back in if we can just entirely ignore the
#    hashing directory (adding a nested .clang-tidy file, which before we 
#    thought worked, does not import the rest of the checks in this file).
Checks: >
         -*, 
         abseil-*,
         bugprone-*, bugprone-argument-comment, -bugprone-narrowing-conversions, -bugprone-easily-swappable-parameters, -bugprone-implicit-widening-of-multiplication-result,
         cert-*-cpp, -cert-err58-cpp, -cert-msc50-cpp, -cert-msc51-cpp, 
         cert-*-c, -cert-err34-c, -cert-msc30-c, -cert-msc32-c,
         clang-analyzer-*, 
            -clang-analyzer-core.*, -clang-analyzer-security.insecureAPI.rand, -clang-analyzer-optin.cplusplus.VirtualCall,
            -clang-analyzer-cplusplus.NewDeleteLeaks,
         cppcoreguidelines-*, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-pro-*, 
            -cppcoreguidelines-avoid-c-arrays, -cppcoreguidelines-init-variables, -cppcoreguidelines-owning-memory, 
            -cppcoreguidelines-special-member-functions, -cppcoreguidelines-non-private-member-variables-in-classes, 
            -cppcoreguidelines-avoid-non-const-global-variables, -cppcoreguidelines-narrowing-conversions,
         google-*, -google-runtime-references,
         llvm-*, -llvm-header-guard, -llvm-include-order,
         misc-*, -misc-non-private-member-variables-in-classes,
         modernize-*, -modernize-use-*, -modernize-avoid-c-arrays, -modernize-return-braced-init-list,
         openmp-*, mpi-*,
         performance-*, -performance-noexcept-move-constructor,
         readability-*, -readability-redundant-member-init, -readability-implicit-bool-conversion, -readability-isolate-declaration, -readability-function-cognitive-complexity, -readability-magic-numbers, -readability-identifier-length, -clang-diagnostic-ignored-optimization-argument
HeaderFilterRegex: ".*"
# TODO: Add these back in if we can figure out how to exclude the hashing 
# directory from magic numbers checks
# CheckOptions:
#   - key:    readability-magic-numbers.IgnorePowersOf2IntegerValues
#     value:  '1'
#   - key:    readability-magic-numbers.IgnoredIntegerValues
#     value:  '0;1;2;3;4;5;6;7;10;100;999;1000'
#   - key:    readability-magic-numbers.IgnoreAllFloatingPointValues
#     value:  '1'
WarningsAsErrors: "*"
