[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/ThirdAILabs/EigenFork
[submodule "deps/cereal"]
	path = deps/cereal
	url = https://github.com/ThirdAILabs/CerealFork
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/ThirdAILabs/GoogleTestFork
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/ThirdAILabs/TomlPlusPlusFork
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/ThirdAILabs/PybindFork
[submodule "deps/cryptopp"]
	path = deps/cryptopp
	url = https://github.com/ThirdAILabs/CrypoppFork
[submodule "deps/flamegraph"]
	path = deps/flamegraph
	url = https://github.com/ThirdAILabs/FlameGraphFork
