[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/ThirdAILabs/EigenFork
[submodule "deps/cereal"]
	path = deps/cereal
	url = https://github.com/ThirdAILabs/CerealFork
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/ThirdAILabs/GoogleTestFork
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/ThirdAILabs/PybindFork
[submodule "deps/cryptopp"]
	path = deps/cryptopp
	url = https://github.com/ThirdAILabs/CrypoppFork
[submodule "deps/flamegraph"]
	path = deps/flamegraph
	url = https://github.com/ThirdAILabs/FlameGraphFork
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/ThirdAILabs/SpdlogFork.git
[submodule "deps/cryptopp-cmake"]
	path = deps/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
[submodule "deps/prometheus-cpp"]
	path = deps/prometheus-cpp
	url = https://github.com/ThirdAILabs/PrometheusCppFork
[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/ThirdAILabs/CppHttplibFork
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/ThirdAILabs/JsonCppFork
[submodule "deps/utf8proc"]
	path = deps/utf8proc
	url = https://github.com/ThirdAILabs/Utf8procFork
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf
