name: Run C++ Tests

# Kills old jobs from the same pr if we push a new commit
# See https://stackoverflow.com/questions/66335225/how-to-cancel-previous-runs-in-the-pr-when-you-push-new-commitsupdate-the-curre
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  cpp-release-tests:
    runs-on: ubuntu-latest
    steps:
      - name: install gcc-11
        run: |
          sudo apt install gcc-11 g++-11
          export CC=/usr/bin/gcc-11
          export CXX=/usr/bin/g++-11
      # Checks-out your repository under $GITHUB_WORKSPACE, which is the CWD for
      # the rest of the steps
      - uses: actions/checkout@v2
        with:           
          submodules: 'recursive'
          token: ${{ secrets.CICD_REPO_ACCESS_TOKEN }}
          
      - name: Run all c++ tests
        run: |
          bin/build.py -t all -f THIRDAI_BUILD_LICENSE
          bin/cpp-test.sh -V
          
  cpp-asan-tests:
    runs-on: 
      labels: ubuntu-latest-8-cores
    steps:
      - name: install gcc-11
        run: |
          sudo apt install gcc-11 g++-11
          export CC=/usr/bin/gcc-11
          export CXX=/usr/bin/g++-11
      # Checks-out your repository under $GITHUB_WORKSPACE, which is the CWD for
      # the rest of the steps
      - uses: actions/checkout@v2
        with:           
          submodules: 'recursive'
          token: ${{ secrets.CICD_REPO_ACCESS_TOKEN }}
      - name: Fix kernel mmap rnd bits
        # Asan in llvm 14 provided in ubuntu 22.04 is incompatible with
        # high-entropy ASLR in much newer kernels that GitHub runners are
        # using leading to random crashes: https://reviews.llvm.org/D148280
        # https://github.com/actions/runner-images/issues/9524
        run: sudo sysctl vm.mmap_rnd_bits=28
      - name: Run all c++ tests
        run: |
          bin/build.py -t all -f THIRDAI_BUILD_LICENSE -m RelWithAsan
          bin/cpp-test.sh -j 12 -V

  cpp-debug-tests:
    runs-on: ubuntu-latest
    steps:
      - name: install gcc-11
        run: |
          sudo apt install gcc-11 g++-11
          export CC=/usr/bin/gcc-11
          export CXX=/usr/bin/g++-11
      # Checks-out your repository under $GITHUB_WORKSPACE, which is the CWD for
      # the rest of the steps
      - uses: actions/checkout@v2
        with:           
          submodules: 'recursive'
          token: ${{ secrets.CICD_REPO_ACCESS_TOKEN }}
          
      - name: Run all c++ tests
        run: |
          bin/build.py -t all -f THIRDAI_BUILD_LICENSE -m Debug
          bin/cpp-test.sh -V